#projects{
    background-color: #0c0032;
    padding-bottom: 100px;
}

.projects_container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.project-card{
    padding: 20px;
    border: 1px solid #4000ff;
    border-radius: 10px;
    background-color: #0f1624;
    color: white;
}
.project_links>a{
    text-decoration: none;
    color: white;
}
.project_links>a:hover{
    color: #4000ff;
}