#projects {
  background-color: #0c0032;
  padding-bottom: 100px;
}

.projects_container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.project-card {
  padding: 20px;
  border: 1px solid #4000ff;
  border-radius: 10px;
  background-color: #0f1624;
  color: white;
}
.project_links > a {
  text-decoration: none;
  color: white;
}
.project_links > a:hover {
  color: #4000ff;
}
.projectdgt{
  height: 200px;
}

/* For Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .projects_container {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .projects_container {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    font-size: 15px;
  }
  .projectdgt{
    height: 300px;
  }
}
