#about {
  background-color: #0f1624;
  padding-top: 50px;
  padding-bottom: 70px;
}
.about_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* height: 200px; */
  padding: 50px 120px;
  margin-bottom: -80px;
}
.left_about {
  height: 450px;
  margin-top: -30px;
  padding: 0 0 60px 100px;
}
.left_about > img {
  width: 100%;
}
.right_about {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
  padding: 0 20px 20px 20px;
}

/* For Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
  #about {
    background-color: #0f1624;
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .about_container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 50px 20px;
    padding-bottom: 150px;
    margin-bottom: -80px;
  }
  .left_about {
    height: 450px;
    padding: 0;
    margin-top: -50px;
  }
  .right_about {
    font-size: 18px;
    margin-left: -60px;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .about_container {
    display: flex;
    padding: 0;
    padding-bottom: 150px;
    margin-bottom: -80px;
  }
  .left_about {
    display: none;
  }
  .right_about {
    width: 100%;
    font-size: 18px;
    margin-left: 0;
  }
}
